<h3 style="color: blueviolet"> Product List </h3>
<ng-container *ngIf="clicked==true">
  <div style="background-color: deeppink;border: 1px solid black"> You have selected: {{productClicked}}</div>
</ng-container>
<app-product [productName]="car.name" [productType]="car.toString" (outputProduct)="setClicked($event)"></app-product>

<section *ngIf="allProducts().length > 0">
  <h4 style="color: mediumvioletred"> List of Products</h4>
  <ul>
    <li *ngFor="let product of allProducts()">
      <app-product [productName]="product.name" [product]="product"></app-product>
      </li>
  </ul>
</section>

<p> Search
  <input type=text placeholder="Filter Product" [(ngModel)]="productFind" (input)="search()"></p>
<ul>
  <li *ngFor="let product of search()">
    <app-product [productName]="product.name" [product]="product"></app-product>
  </li>
</ul>

