<h3 style="color: darkgreen"> Supplier List </h3>
<section *ngIf="allSuppliers().length > 0">
  <h4 style="color: seagreen"> List of suppliers</h4>
  <ul>
    <li *ngFor="let s of allSuppliers()">
      <app-supplier [supplierName]="s.companyName" [supplier]="s"></app-supplier>
    </li>
  </ul>
</section>

<p> Search
  <input type=text placeholder="Filter Product" [(ngModel)]="supplierFind" (input)="search()"></p>
<ul>
  <li *ngFor="let supplier of search()">
    <app-supplier [supplierName]="supplier.companyName" [supplier]="supplier"></app-supplier>
  </li>
</ul>
